extends layout

block content
  h1 Welcome to the Countries Library!
  a(href='/countries/new') Create New
  table
    thead
      tr
        th Name
        th Flag
        th Capital
        th Population
        th Edit
        th Delete
    tbody
      tr
        td testing
        td testing
        td testing
        td testing
        td Edit
        td Delete
